﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CodeBox.ascx.cs" Inherits="kaur_manpreet_N01314914_assignment2b.UserControl.CodeBox" %>
<asp:DataGrid ID="DataGridcontainer" runat="server" skinID="GridSkin"></asp:DataGrid>