﻿body {
    padding-top: 50px;
}

.HeaderStyle {
    padding: 10px;
    background-color: black;
    color: white;
}

.ItemStyle {
    background-color: black;
    margin-left: 10px;
    color: white;
}
