﻿body {
    padding-top: 50px;
}

.HeaderStyle {
    color: white;
    padding: 10px;
    background-color: black;
}

.ItemStyle {
    color: black;
    background-color: white;
    margin-left: 10px;
}
